body {
  background-color: rgb(119, 230, 233);
}

.container {
  width: 600px;
  margin: 100px auto;
}

h1{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.guessButton{
  display: block;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 50px auto 0 auto;
  background-color: rgb(66, 80, 212);
}

h4{
  display: none;
  text-align: center;;
  width: 15%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  background-color: rgb(238, 14, 49)
}
