body {
  background-color: rgb(119, 230, 233);
}

.container {
  width: 600px;
  margin: 100px auto;
}

h2 {
padding: 5px 5px;
margin: 10px 5px;
border: 2px solid black;
border-radius: 15px;
background-color: #4CAF50;
box-shadow: 0 8px #999;
cursor: pointer;
width: 100px;
}

h2:hover {background-color: #3e8e41}

h2:active {
	border: 2px solid black;
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.textbox {
  height: 100px;
  width: 100px
  font-size: 50px;
}

h4{
  display: none;
  text-align: center;
  width: 15%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  background-color: rgb(238, 14, 49);
}
